/* @import url('https://mugpet.github.io/logseq/themes/skk.css') */
 /* @import url('https://mugpet.github.io/logseq/themes/palelaguna.css') */



@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Mukta:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* ruda */
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700&display=swap');
/* saira */
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;700&display=swap');    
/* Noto Serif SC */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');
/* Abhaya Libre */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
/* Glegoo */
 @import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
/* Trirong */
 @import url('https://fonts.googleapis.com/css2?family=Trirong:wght@100;200;300;400;500;600;700;900&display=swap');
/* Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Arvo */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
/* Commissioner */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Sora */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
/* Inter -  udsed by Notion */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


 body {
  --ls--font-family: "Inter";
  --ls--font-family-title: "Inter";
  --ls--font-family-tag: "Inter";
  /* font-size: 0.9em; */
    /* font-weight: 300 !important; */

 }

.dark-theme, html[data-theme=dark] {
  --ls-primary-background-color: #36393F;
  --ls-secondary-background-color:#2F3136;
  --ls-tertiary-background-color:  #202225;
  --ls-quaternary-background-color: #27292D;

  --ls-table-tr-even-background-color: #01222a;

  --ls-active-primary-color: #f5efe2;
  --ls-active-secondary-color: #dad6ac;

  --ls-block-properties-background-color: #27292D;


  --ls-block-ref-link-text-color: #0058c4;
  --ls-search-background-color: linear-gradient( to right, #27292D 0, #40444B 200px, #36393F 100% );
  
--ls-border-color: #777672;
  --ls-secondary-border-color: #71757C;
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  
  --ls-primary-text-color: #d6d6d6;
  --ls-secondary-text-color: #b8b8b8;
  
  --ls-title-text-color: #00e1ff;
  --ls-link-text-color: #06B0F4;
  --ls-link-text-hover-color: var(--ls-active-secondary-color);
  
  --ls-link-ref-text-color:#ff9100;
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
  --ls-tag-text-color: #27f0ce;
  
  --ls-tag-text-hover-color: var(--ls-link-text-hover-color);
  --ls-slide-background-color: var(--ls-primary-background-color);
  
  --ls-guideline-color: #565d61;
  --ls-block-bullet-border-color: #565d61;
  --ls-block-bullet-color: #565d61;

  --ls-block-highlight-color: #24232283;
  --ls-selection-background-color: #0B68D9;

  --ls-page-checkbox-color: #3d3d316b;
  --ls-page-checkbox-border-color: #266e64;

  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: #27282D;
  --ls-page-blockquote-border-color: #00ffaa9a;

  --ls-page-inline-code-color: #b962ff;
  --ls-page-inline-code-bg-color: #272524;

  --ls-scrollbar-foreground-color: #2c2c2c;
  --ls-scrollbar-background-color: #2e333800;
  --ls-scrollbar-thumb-hover-color: #202225;

  --ls-head-text-color: var(--ls-link-text-color);
  --ls-icon-color: var(--ls-link-text-color);
  --ls-search-icon-color: var(--ls-link-text-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: #41403ec5;

  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #1d1f22;
  --color-level-5: #2F3136;
  --color-level-6: #36393F;



}



.white-theme, html[data-theme=light] {
  --ls-primary-background-color: #ffffff;
  --ls-secondary-background-color: #f0f0f0;
  --ls-tertiary-background-color: #E4E4E4;
  --ls-quaternary-background-color: #bdc0c4;
  
  --ls-table-tr-even-background-color: #f4f5f7;
  --ls-active-primary-color: #003fb1;
  --ls-active-secondary-color: #003fb1;

  --ls-block-properties-background-color: #f7f6f4;
  --ls-block-ref-link-text-color: #d8e1e8;

  --ls-search-background-color: var(--ls-primary-background-color);
  --ls-border-color: #ccc;
  --ls-secondary-border-color: #e2e2e2;
  --ls-menu-hover-color: var(--ls-a-chosen-bg);

  --ls-primary-text-color: #596269;
  --ls-secondary-text-color: #4a4d50;
  --ls-title-text-color: #313da7;

  --ls-link-text-color: #003fb1;
  --ls-link-text-hover-color: #0052af;

  --ls-link-ref-text-color: #bd007e;
  --ls-link-ref-text-hover-color: #ce009a;

  --ls-tag-text-color: #43009b;
  --ls-tag-text-hover-color: #9900a7;

  --ls-slide-background-color: #fff;

  --ls-guideline-color: #B5B6B9;
  --ls-block-bullet-border-color: #B5B6B9;
  --ls-block-bullet-color: #B5B6B9;

  --ls-block-highlight-color: #52c3ff;
  --ls-selection-background-color: #ffec98e5;
  
  --ls-page-checkbox-color: #00115a; 
  --ls-page-checkbox-border-color: #00115a;

  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: #F2F3F5;
  --ls-page-blockquote-border-color: #cc10fb;

  --ls-page-inline-code-bg-color: #001149;
  --ls-page-inline-code-color: #fff4c2;
  
  --ls-scrollbar-foreground-color: #CCCCCC;
  --ls-scrollbar-background-color: #F2F2F2;
  --ls-scrollbar-thumb-hover-color: #CCCCCC;

  --ls-head-text-color: var(--ls-link-text-color);
  --ls-icon-color: #c1bdb7;
  --ls-search-icon-color: var(--ls-icon-color);
  --ls-a-chosen-bg: #f4f5f7;
  --ls-right-sidebar-code-bg-color: var(--ls-secondary-background-color);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #499bf8;
  --color-level-5: #003fb1;
}


body {
  /* font-family: 'Mukta', sans-serif; */
  /* font-family: 'Jura', sans-serif; */
  font-family: var(--ls--font-family), sans-serif;
  /* font-weight: 500 !important; */
}


h1, h2, h3, h4, h5 {
  /* font-family: 'Mukta', sans-serif; */
  color: var(--ls-title-text-color,#222);
  font-family: var(--ls--font-family-title), sans-serif;
  font-weight: 700 !important;
}

h1.title {
  margin-bottom: 1.5rem;
  color: var(--ls-title-text-color,#222);
  font-size: var(--ls-page-title-size,36px);
  font-weight: 700;
  font-family: var(--ls--font-family-title), sans-serif;
}

.canceled, .done {
  opacity: 0.9;
}

.bullet-container.bullet-closed {
  background-color: var(--ls-block-bullet-border-color);
  /*border: 1px solid var(--ls-block-bullet-color);*/
}


.form-checkbox {
  color: var(--ls-page-checkbox-color) !important;
  background-color: transparent !important;
/*    background-color: var(--ls-primary-background-color) !important;*/
  border-color: var(--ls-page-checkbox-border-color) !important;
  border: 1px solid var(--ls-page-checkbox-border-color) !important;
  border-radius: 2px !important;
}
.form-checkbox:checked {
  background-color: var(--ls-page-checkbox-border-color) !important;
}

.shadow-lg {
  --tw-shadow: 0 1px 0px 1px var(--ls-quaternary-background-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}


textarea {
border-radius: 6px;
}

/* dark theme */

.dark-theme .editor-wrapper {
  background: #55544f38;
  padding: 0px;
}
.dark-theme mark {
  background: #be5107c0;
  color: #e6e2b1;
  padding: 1px 2px;
  border-radius: 4px;
}
.dark-theme a.tag {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: var(--ls-tag-text-color,#045591);
  font-family: var(--ls--font-family-tag), sans-serif;
  opacity: 1;

  /* opacity: var(--ls-tag-text-opacity,.8); */
  
}
.dark-theme .marker-switch  {
  /* color: var(--ls-page-checkbox-border-color); */
  color: inherit;
  border-radius: 8px;
  background: var(--ls-block-properties-background-color);
  opacity: 0.8;
  font-size: 0.6em;
}
.dark-theme .todo {
  color: #e0d3a4;
  /* font-family: 'Saira', sans-serif; */
  /* font-weight: 600; */
}
.dark-theme .doing {
  color: #ffffff;
  /* font-family: 'Saira', sans-serif; */
  /* font-weight: 600; */
}
.dark-theme .done {
  color: #6da5a0;
  /* font-family: 'Saira', sans-serif; */
  text-decoration: none;
}

/* white theme */

.white-theme mark {
  background: #ffee00b2;
  color: #000000;
  padding: 1px 2px;
  border-radius: 3px;
}
.white-theme .marker-switch {
  color: var(--ls-page-checkbox-border-color);
  opacity: 0.6;
} 

.white-theme .editor-wrapper {
  background: #f8f8f8;
/*font-family: monospace;*/
  padding: 0px;
}

.blocks-properties {
  border-radius: 6px;
}

/*
#main-content-container {
  font-size: 0.9em;
}
*/
