/* @import url('https://mugpet.github.io/logseq/themes/skk.css') */
 /* @import url('https://mugpet.github.io/logseq/themes/palelaguna.css') */



@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Mukta:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap');

    
.dark-theme, html[data-theme=dark] {
--ls-primary-background-color: #195196;
--ls-secondary-background-color: #003c74;
--ls-tertiary-background-color: #003261;
--ls-quaternary-background-color: #004c8e;
--ls-table-tr-even-background-color: #14498a;
--ls-active-primary-color: #ffae00;
--ls-active-secondary-color: #FCFEF7;
--ls-block-properties-background-color: #0013276b;
--ls-block-ref-link-text-color: #63cdff;
--ls-search-background-color: linear-gradient( to right, #071d3a 0, #0a2a52 200px, #071d3a 100% );
--ls-border-color: #1a2a44;
--ls-secondary-border-color: #121c2c;
--ls-menu-hover-color: var(--ls-secondary-background-color);
--ls-primary-text-color: #e5f0f7;
--ls-secondary-text-color: #deebf3;
--ls-title-text-color: #ffffff;
--ls-link-text-color: #4bbdff;
--ls-link-text-hover-color: var(--ls-active-secondary-color);
--ls-link-ref-text-color: #fff04c;
--ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
--ls-tag-text-color: #ffd800;
--ls-tag-text-hover-color: var(--ls-link-text-hover-color);
--ls-slide-background-color: var(--ls-primary-background-color);
--ls-guideline-color: #2e7fca;
--ls-block-bullet-border-color: #2e7fca;
--ls-block-bullet-color: #2e7fca;
--ls-block-highlight-color: #08234a4f;
--ls-selection-background-color: #3372c0b2;
--ls-page-checkbox-color: #81ffea;
--ls-page-checkbox-border-color: #21a2dd;
--ls-page-blockquote-color: var(--ls-primary-text-color);
--ls-page-blockquote-bg-color: #131423b8;
--ls-page-blockquote-border-color: #e69200;
--ls-page-inline-code-color: #eea403;
--ls-page-inline-code-bg-color: #01222a;
--ls-scrollbar-foreground-color: #08498a;
--ls-scrollbar-background-color: #19519600;
--ls-scrollbar-thumb-hover-color: #e2ff00;
--ls-head-text-color: var(--ls-link-text-color);
--ls-icon-color: var(--ls-link-text-color);
--ls-search-icon-color: var(--ls-link-text-color);
--ls-a-chosen-bg: var(--ls-secondary-background-color);
--ls-right-sidebar-code-bg-color: #002e56;
--color-level-1: var(--ls-secondary-background-color);
--color-level-2: var(--ls-tertiary-background-color);
--color-level-3: var(--ls-quaternary-background-color);
--color-level-4: #ffc400;
--color-level-5: #18a05c;
--color-level-6: #006e3b;
}



.white-theme, html[data-theme=light] {
  --ls-primary-background-color: #ffffff;
  --ls-secondary-background-color: #f0f0f0;
  --ls-tertiary-background-color: #E4E4E4;
  --ls-quaternary-background-color: #bdc0c4;
  
  --ls-table-tr-even-background-color: #f4f5f7;
  --ls-active-primary-color: #003fb1;
  --ls-active-secondary-color: #003fb1;

  --ls-block-properties-background-color: #f7f6f4;
  --ls-block-ref-link-text-color: #d8e1e8;

  --ls-search-background-color: var(--ls-primary-background-color);
  --ls-border-color: #ccc;
  --ls-secondary-border-color: #e2e2e2;
  --ls-menu-hover-color: var(--ls-a-chosen-bg);

  --ls-primary-text-color: #596269;
  --ls-secondary-text-color: #4a4d50;
  --ls-title-text-color: #313da7;

  --ls-link-text-color: #003fb1;
  --ls-link-text-hover-color: #0052af;

  --ls-link-ref-text-color: #bd007e;
  --ls-link-ref-text-hover-color: #ce009a;

  --ls-tag-text-color: #43009b;
  --ls-tag-text-hover-color: #9900a7;

  --ls-slide-background-color: #fff;

  --ls-guideline-color: #B5B6B9;
  --ls-block-bullet-border-color: #B5B6B9;
  --ls-block-bullet-color: #B5B6B9;

  --ls-block-highlight-color: #52c3ff;
  --ls-selection-background-color: #ffec98e5;
  
  --ls-page-checkbox-color: #00115a; 
  --ls-page-checkbox-border-color: #00115a;

  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: #F2F3F5;
  --ls-page-blockquote-border-color: #cc10fb;

  --ls-page-inline-code-bg-color: #001149;
  --ls-page-inline-code-color: #fff4c2;
  
  --ls-scrollbar-foreground-color: #CCCCCC;
  --ls-scrollbar-background-color: #F2F2F2;
  --ls-scrollbar-thumb-hover-color: #CCCCCC;

  --ls-head-text-color: var(--ls-link-text-color);
  --ls-icon-color: #c1bdb7;
  --ls-search-icon-color: var(--ls-icon-color);
  --ls-a-chosen-bg: #f4f5f7;
  --ls-right-sidebar-code-bg-color: var(--ls-secondary-background-color);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #499bf8;
  --color-level-5: #003fb1;
}


body {
  /* font-family: 'Mukta', sans-serif; */
  /* font-family: 'Jura', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 500 !important; */
}


h1, h2, h3, h4, h5 {
  /* font-family: 'Mukta', sans-serif; */
  color: var(--ls-title-text-color,#222);
  font-family: 'Jura', sans-serif;
  font-weight: 700 !important;
}

h1.title {
  margin-bottom: 1.5rem;
  color: var(--ls-title-text-color,#222);
  font-size: var(--ls-page-title-size,36px);
  font-weight: 700;
  font-family: 'Jura', sans-serif;
}

.canceled, .done {
  opacity: 0.9;
}

.bullet-container.bullet-closed {
  background-color: var(--ls-block-bullet-border-color);
  /*border: 1px solid var(--ls-block-bullet-color);*/
}


.form-checkbox {
  color: var(--ls-page-checkbox-color) !important;
  background-color: transparent !important;
/*    background-color: var(--ls-primary-background-color) !important;*/
  border-color: var(--ls-page-checkbox-border-color) !important;
  border: 1px solid var(--ls-page-checkbox-border-color) !important;
  border-radius: 2px !important;
}
.form-checkbox:checked {
  background-color: var(--ls-page-checkbox-border-color) !important;
}

.shadow-lg {
  --tw-shadow: 0 1px 0px 1px var(--ls-quaternary-background-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}


textarea {
border-radius: 6px;
}

/* dark theme */

.dark-theme .editor-wrapper {
  background: #0a326d38;
  padding: 0px;
}
.dark-theme mark {
  background: #af137b;
  color: #ffffff;
  padding: 1px 2px;
  border-radius: 4px;
}
.dark-theme a.tag {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: var(--ls-tag-text-color,#045591);
  font-family: 'Jura', sans-serif;
  opacity: 1;

  /* opacity: var(--ls-tag-text-opacity,.8); */
  
}
.dark-theme .marker-switch  {
  /* color: var(--ls-page-checkbox-border-color); */
  color: inherit;
  border-radius: 8px;
  background: var(--ls-block-properties-background-color);
  opacity: 0.8;
  font-size: 0.6em;
}
.dark-theme .todo {
  color: #ccf3fa;
  /* font-weight: 600; */
}
.dark-theme .doing {
  color: #ffffff;
  /* font-weight: 600; */
}
.dark-theme .done {
  color: #6da3cf;
  text-decoration: none;
}

/* white theme */

.white-theme mark {
  background: #ffee00b2;
  color: #000000;
  padding: 1px 2px;
  border-radius: 3px;
}
.white-theme .marker-switch {
  color: var(--ls-page-checkbox-border-color);
  opacity: 0.6;
} 

.white-theme .editor-wrapper {
  background: #f8f8f8;
/*font-family: monospace;*/
  padding: 0px;
}

.blocks-properties {
  border-radius: 6px;
}

/*
#main-content-container {
  font-size: 0.9em;
}
*/

