body {
  --ls-page-text-size: 0.95em;
}

  .dark-theme, html[data-theme=dark] {
    --ls-primary-background-color: #36393F;
    --ls-secondary-background-color:#2F3136;
    --ls-tertiary-background-color:  #40444B;
    --ls-quaternary-background-color: #27292D;
  
    --ls-table-tr-even-background-color: #01222a;
  
    --ls-active-primary-color: #F9F6F3;
    --ls-active-secondary-color: #FCFEF7;
  
    --ls-block-properties-background-color: #27292D;
  
  
    --ls-block-ref-link-text-color: #0B68D9;
    --ls-search-background-color: linear-gradient( to right, #27292D 0, #40444B 200px, #36393F 100% );
    
  --ls-border-color: #71757C;
    --ls-secondary-border-color: #71757C;
    --ls-guideline-color: #71757C;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
  
    --ls-primary-text-color: #DDDAD8;
    --ls-secondary-text-color: #C8C5C3;
  
    --ls-title-text-color: #ACA9A7;
    --ls-link-text-color: #00B0F4;
    --ls-link-text-hover-color: var(--ls-active-secondary-color);
  
    --ls-link-ref-text-color:#ff8a05;
    --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
    --ls-tag-text-color: var(--ls-link-text-color);
  
    --ls-tag-text-hover-color: var(--ls-link-text-hover-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
  
    --ls-block-bullet-border-color: #71757C;
    --ls-block-bullet-color: #71757C;
  
    --ls-block-highlight-color: #16212f;
    --ls-selection-background-color: #0B68D9;
  
    --ls-page-checkbox-color: #2b383e6b;
    --ls-page-checkbox-border-color: #0B6DE4;
  
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: #27282D;
    --ls-page-blockquote-border-color: #eb570d;
  
    --ls-page-inline-code-color: #eebb03;
    --ls-page-inline-code-bg-color: #01222a;
  
    --ls-scrollbar-foreground-color: #202225;
    --ls-scrollbar-background-color: #2E3338;
    --ls-scrollbar-thumb-hover-color: #202225;
  
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-icon-color: var(--ls-link-text-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: #04303c;
  
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: #1d1f22;
    --color-level-5: #2F3136;
    --color-level-6: #36393F;
}


.white-theme, html[data-theme=light] {
    --ls-primary-background-color: white;
    --ls-secondary-background-color: #F2F3F5;
    --ls-tertiary-background-color: #EBEDEF;
    --ls-quaternary-background-color: #E3E5E8;
    --ls-table-tr-even-background-color: #f4f5f7;
    --ls-active-primary-color: #003fb1;
    --ls-active-secondary-color: #003fb1;
    --ls-block-properties-background-color: #f7f6f4;
    --ls-block-ref-link-text-color: #d8e1e8;
    --ls-search-background-color: var(--ls-primary-background-color);
    --ls-border-color: #ccc;
    --ls-secondary-border-color: #e2e2e2;
    --ls-guideline-color: rgba(46, 27, 5, 0.08);
    --ls-menu-hover-color: var(--ls-a-chosen-bg);
    --ls-primary-text-color: #454a4e;
    --ls-secondary-text-color: #4a4d50;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: #003fb1;
    --ls-link-text-hover-color: #0052af;
    --ls-link-ref-text-color: #e06020;
    --ls-link-ref-text-hover-color: #ff5500;
    --ls-tag-text-color: #0059c1;
    --ls-tag-text-hover-color: #0044bf;
    --ls-slide-background-color: #fff;
    --ls-block-bullet-border-color: #B5B6B9;
    --ls-block-bullet-color: #B5B6B9;
    --ls-block-highlight-color: #52c3ff;
    --ls-selection-background-color: #B9F5E7;
    --ls-page-checkbox-color: #F2F3F5;
    --ls-page-checkbox-border-color: #003fb1;
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: #F2F3F5;
    --ls-page-blockquote-border-color: #003fb1;
    --ls-page-inline-code-bg-color: #f7f6f4;
    --ls-page-inline-code-color: var(--ls-primary-text-color);
    --ls-scrollbar-foreground-color: #CCCCCC;
    --ls-scrollbar-background-color: #F2F2F2;
    --ls-scrollbar-thumb-hover-color: #CCCCCC;
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-icon-color: #c1bdb7;
    --ls-search-icon-color: var(--ls-icon-color);
    --ls-a-chosen-bg: #f4f5f7;
    --ls-right-sidebar-code-bg-color: var(--ls-secondary-background-color);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: #499bf8;
    --color-level-5: #003fb1;
}

h1.title {
    margin-bottom: 1.5rem;
    color: var(--ls-title-text-color,#222);
    font-size: var(--ls-page-title-size,36px);
    font-weight: 500;
}

.bullet-container.bullet-closed {
    background-color: var(--ls-block-bullet-border-color);
    /*border: 1px solid var(--ls-block-bullet-color);*/
}


.form-checkbox {
    color: var(--ls-page-checkbox-color) !important;
    background-color: transperant !important;
/*    background-color: var(--ls-primary-background-color) !important;*/
    border-color: var(--ls-page-checkbox-border-color) !important;
    border: 1px solid var(--ls-page-checkbox-border-color) !important;
    border-radius: 3px !important;
}
.form-checkbox:checked {
    background-color: var(--ls-page-checkbox-border-color) !important;
}

.shadow-lg {
    --tw-shadow: 0 1px 0px 1px var(--ls-quaternary-background-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}


textarea {
  border-radius: 6px;
}

.dark-theme .editor-wrapper {
    background: #313339;
    padding: 2px;
}
.dark-theme mark {
    background: #852d79;
    color: #fcfcfc;
    padding: 2px 4px;
    border-radius: 3px;
}
.white-theme mark {
    background: #fff025;
    color: #070707;
    padding: 2px 4px;
    border-radius: 3px;
}

.white-theme .editor-wrapper {
    background: #fafafa;
  /*font-family: monospace;*/
    padding: 2px;
}

/*
#main-content-container {
    font-size: 0.9em;
}
*/
