
  
.dark-theme, html[data-theme=dark] {
    --ls-primary-background-color: #36393F;
    --ls-secondary-background-color:#2F3136;
    --ls-tertiary-background-color:  #40444B;
    --ls-quaternary-background-color: #27292D;
  
    --ls-table-tr-even-background-color: #03333f;
  
    --ls-active-primary-color: #F9F6F3;
    --ls-active-secondary-color: #FCFEF7;
  
    --ls-block-properties-background-color: #27292D;
  
  
    --ls-block-ref-link-text-color: #1a6376;
    --ls-search-background-color: linear-gradient( to right, #27292D 0, #40444B 200px, #36393F 100% );
    
  --ls-border-color: #71757C;
    --ls-secondary-border-color: #71757C;
    --ls-guideline-color: #71757C;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
  
    --ls-primary-text-color: #DDDAD8;
    --ls-secondary-text-color: #C8C5C3;
  
    --ls-title-text-color: #ACA9A7;
    --ls-link-text-color: #00B0F4;
    --ls-link-text-hover-color: var(--ls-active-secondary-color);
  
    --ls-link-ref-text-color:#FC8E01;
    --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
    --ls-tag-text-color: var(--ls-link-text-color);
  
    --ls-tag-text-hover-color: var(--ls-link-text-hover-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
  
    --ls-block-bullet-border-color: #71757C;
    --ls-block-bullet-color: #71757C;
  
    --ls-block-highlight-color: #464B52;
    --ls-selection-background-color: #6f92bd;
  
    --ls-page-checkbox-color: #2b383e6b;
    --ls-page-checkbox-border-color: #8ab2dc;
  
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: #2F3136;
    --ls-page-blockquote-border-color: #EB6420;
  
    --ls-page-inline-code-color: #F1C21E;
    --ls-page-inline-code-bg-color: #01222a;
  
    --ls-scrollbar-foreground-color: rgba(255, 255, 255, 0.05);
    --ls-scrollbar-background-color: rgba(30, 60, 67, 0.9);
    --ls-scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.2);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-icon-color: var(--ls-link-text-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: #04303c;
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: #195d6c;
    --color-level-5: #266c7d;
    --color-level-6: #3a7e8e;
}


.white-theme, html[data-theme=light] {
    --ls-primary-background-color: white;
    --ls-secondary-background-color: #F2F3F5;
    --ls-tertiary-background-color: #EBEDEF;
    --ls-quaternary-background-color: #E3E5E8;
  
    --ls-table-tr-even-background-color: #f4f5f7;
  
    --ls-active-primary-color: rgb(0 126 154);
    --ls-active-secondary-color: #0c68af;
    --ls-block-properties-background-color: #f7f6f4;
  
    --ls-block-ref-link-text-color: #d8e1e8;
    --ls-search-background-color: var(--ls-primary-background-color);
    --ls-border-color: #ccc;
    --ls-secondary-border-color: #e2e2e2;
  
    --ls-guideline-color: rgba(46, 27, 5, 0.08);
  
    --ls-menu-hover-color: var(--ls-a-chosen-bg);
  
    --ls-primary-text-color: #2E3338;
    --ls-secondary-text-color: #343A40;
    --ls-title-text-color: var(--ls-primary-text-color);
  
    --ls-link-text-color: #0075C4;
    --ls-link-text-hover-color: #0093E2;
  
    --ls-link-ref-text-color: #03AD85;
    --ls-link-ref-text-hover-color: #1a537c;
  
    --ls-tag-text-color: #366f6d;
    --ls-tag-text-hover-color: var(--ls-link-ref-text-hover-color);
    --ls-slide-background-color: #fff;
  
    --ls-block-bullet-border-color: #B5B6B9;
    --ls-block-bullet-color: #B5B6B9;
  
    --ls-block-highlight-color: #DDE4E5;
    --ls-selection-background-color: #B9F5E7;
  
    --ls-page-checkbox-color: #74cee2;
    --ls-page-checkbox-border-color: #74cee2;
  
  
    --ls-page-blockquote-color: var(--ls-primary-text-color);
  
    --ls-page-blockquote-bg-color: #fbfaf8;
    --ls-page-blockquote-border-color: #799bbc;
  
    --ls-page-inline-code-bg-color: #f7f6f4;
    --ls-page-inline-code-color: var(--ls-primary-text-color);
  
    --ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.1);
    --ls-scrollbar-background-color: rgba(0, 0, 0, 0.05);
    --ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.2);
  
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-icon-color: #c1bdb7;
    --ls-search-icon-color: var(--ls-icon-color);
    --ls-a-chosen-bg: #f4f5f7;
    --ls-right-sidebar-code-bg-color: var(--ls-secondary-background-color);
  
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: #d0e6fa;
    --color-level-5: #bbdaf6;
}

.bullet-container.bullet-closed {
    background-color: var(--ls-block-bullet-border-color);
    /*border: 1px solid var(--ls-block-bullet-color);*/
}


.form-checkbox {
    color: var(--ls-page-checkbox-color,#6093a0) !important;
    background-color: var(--ls-primary-background-color) !important;
    border-color: var(--ls-page-checkbox-border-color) !important;
    border: 1px solid var(--ls-page-checkbox-border-color) !important;
    border-radius: 3px !important;
}
.form-checkbox:checked {
    background-color: var(--ls-page-checkbox-border-color) !important;
}

textarea {
  border-radius: 6px;
}

.dark-theme .editor-wrapper {
    background: #313339;
    padding: 2px;
}
.dark-theme mark {
    background: #704600;
    color: #F9EBCE;
    padding: 2px 4px;
    border-radius: 3px;
}

.white-theme .editor-wrapper {
    background: #fafafa;
  /*font-family: monospace;*/
    padding: 2px;
}

#main-content-container {
   /* font-size: 0.9em;*/
}
